<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Plasmide assembly
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'templates:dashboard' %}" title="Mes Campagnes">Mes Templates</a> | 
        <a href="{% url 'templates:create_template' %}" title="Créer template">Nouveau</a> |
        <a href="{% url 'templates:view_plasmid' %}" title="Visualiser Plasmide">Visualiser</a> |

        {% if user.isAdministrator %}
            <a href="{% url 'users:administration' %}" title="Administration">Administration</a> | 
        {% endif %}

        {% if user.is_authenticated %}
            <form method="post" action="{% url 'users:logout' %}" style="display:inline">
                {% csrf_token %}
                <button type="submit" class="deconnexion">
                   Déconnexion
                </button>
            </form>

            <div style="position: absolute; right: 10px; top: 5%; transform: translateY(-50%);">
            <span style="font-weight: bold; margin-right: 5px;">
                {{ user.first_name|default:user.email }}
            </span>
            <form method="post" action="{% url 'users:profile' %}" style="display:inline">
                {% csrf_token %}
                <button type="submit" style="background:none; border:none; padding:0; font:inherit; cursor:pointer; color: white;">
                    🚹
                </button>
            </form>
        </div>
        {% else %}
            <a href="{% url 'users:register' %}" title="Inscription">Inscription</a> |
            <a href="{% url 'users:login' %}" title="Connexion">Connexion</a>
        {% endif %}

    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>