<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Plasmide assembly
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
    <a href="{% url 'templates:dashboard' %}" title="Mes Campagnes">📂 Mes Templates</a> |
    
    <a href="{% url 'templates:create_template' %}" title="Créer template">🆕 Nouveau</a> |
    
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>